# Pyspark GroupBy and Aggregate Functions

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [5]:
spark

In [14]:
df_pyspark = spark.read.csv(r"C:\Users\JEYA KUMAR R\Downloads\DataSet\Book3.csv", header = True, inferSchema = True)

In [15]:
df_pyspark.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|  Jeya|        DS| 30000|
| Kumar|       IOT| 25000|
|  Raja|  Big Data| 10000|
|Kannan|  Big Data| 15000|
|  Jeya|        DS| 22000|
|  Jeya|        DS| 29000|
|kamesh|       IOT| 22200|
|  Raja|  Big Data| 10000|
|Sundar|        DS|  5000|
+------+----------+------+

In [16]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [17]:
# Groupby

df_pyspark.groupBy('Name')

In [18]:
df_pyspark.groupBy('Name').sum()

DataFrame[Name: string, sum(Salary): bigint]

In [20]:
# Grouped to find max salary

df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|  Jeya|      81000|
|Sundar|       5000|
|Kannan|      15000|
| Kumar|      25000|
|  Raja|      20000|
|kamesh|      22200|
+------+-----------+

In [21]:
# Groupby Dept which gives max salary

df_pyspark.groupBy('Department').sum().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|       IOT|      47200|
|  Big Data|      35000|
|        DS|      86000|
+----------+-----------+

In [22]:
df_pyspark.groupBy('Department').mean().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|       IOT|           23600.0|
|  Big Data|11666.666666666666|
|        DS|           21500.0|
+----------+------------------+

In [23]:
df_pyspark.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|       IOT|    2|
|  Big Data|    3|
|        DS|    4|
+----------+-----+

In [25]:
# Total salary

df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     168200|
+-----------+

In [27]:
# max salary

df_pyspark.groupBy('Name').max().show()

+------+-----------+
|  Name|max(Salary)|
+------+-----------+
|  Jeya|      30000|
|Sundar|       5000|
|Kannan|      15000|
| Kumar|      25000|
|  Raja|      10000|
|kamesh|      22200|
+------+-----------+

In [28]:
# min salary

df_pyspark.groupBy('Name').min().show()

+------+-----------+
|  Name|min(Salary)|
+------+-----------+
|  Jeya|      22000|
|Sundar|       5000|
|Kannan|      15000|
| Kumar|      25000|
|  Raja|      10000|
|kamesh|      22200|
+------+-----------+

In [29]:
df_pyspark.groupBy('Department').avg().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|       IOT|           23600.0|
|  Big Data|11666.666666666666|
|        DS|           21500.0|
+----------+------------------+