# Pyspark Introduction

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\jeya kumar r\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\jeya kumar r\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [2]:
 import pyspark

In [3]:
from pyspark.sql import SparkSession

In [18]:
from pyspark.sql import *

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jeya kumar r\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jeya kumar r\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jeya kumar r\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\jeya kumar r\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jeya kumar r\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [8]:
import pandas as pd

In [9]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\jeya kumar r\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\jeya kumar r\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [10]:
type(pd.read_csv(r'C:\Users\JEYA KUMAR R\Downloads\Book.csv'))

pandas.core.frame.DataFrame

In [11]:
df_pyspark = spark.read.csv(r"C:\Users\JEYA KUMAR R\Downloads\Book.csv")

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [13]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Jeya| 23|
|Kumar| 22|
| Raja| 34|
+-----+---+

In [14]:
spark.read.option('header','true').csv('D:\Book.csv').show()

+-----+---+
| Name|Age|
+-----+---+
| Jeya| 23|
|Kumar| 22|
| Raja| 34|
+-----+---+

In [42]:
df_pyspark = spark.read.option('header','true').csv('D:\Book.csv')

In [43]:
df_pyspark.show()

+-----+---+
| Name|Age|
+-----+---+
| Jeya| 23|
|Kumar| 22|
| Raja| 34|
+-----+---+

In [44]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [36]:
spark_df = spark.read.option('header', 'true').csv(r"C:\Users\JEYA KUMAR R\Downloads\prac.csv")

In [37]:
spark_df.show()

+-------------------+-----------+-----------------+------------+--------------+-------------+
|               Name|Nationality|National_Position|National_Kit|          Club|Club_Position|
+-------------------+-----------+-----------------+------------+--------------+-------------+
|  Cristiano Ronaldo|   Portugal|               LS|           7|   Real Madrid|           LW|
|       Lionel Messi|  Argentina|               RW|          10|  FC Barcelona|           RW|
|             Neymar|     Brazil|               LW|          10|  FC Barcelona|           LW|
|       Luis SuÃ¡rez|    Uruguay|               LS|           9|  FC Barcelona|           ST|
|       Manuel Neuer|    Germany|               GK|           1|     FC Bayern|           GK|
|             De Gea|      Spain|               GK|           1|Manchester Utd|           GK|
| Robert Lewandowski|     Poland|               LS|           9|     FC Bayern|           ST|
|        Gareth Bale|      Wales|               RS|          11|   Real Madrid|           RW|
|Zlatan IbrahimoviÄ‡|     Sweden|             null|        null|Manchester Utd|           ST|
|   Thibaut Courtois|    Belgium|               GK|           1|       Chelsea|           GK|
+-------------------+-----------+-----------------+------------+--------------+-------------+

In [38]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [39]:
spark_df.head(3)

[Row(Name='Cristiano Ronaldo', Nationality='Portugal', National_Position='LS', National_Kit='7', Club='Real Madrid', Club_Position='LW'),
 Row(Name='Lionel Messi', Nationality='Argentina', National_Position='RW', National_Kit='10', Club='FC Barcelona', Club_Position='RW'),
 Row(Name='Neymar', Nationality='Brazil', National_Position='LW', National_Kit='10', Club='FC Barcelona', Club_Position='LW')]

In [41]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- National_Position: string (nullable = true)
 |-- National_Kit: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club_Position: string (nullable = true)