# Pyspark DataFrames

- Filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
spark

In [5]:
df_pyspark = spark.read.csv(r"C:\Users\JEYA KUMAR R\Downloads\DataSet\Book2.csv", header = True, inferSchema = True)

In [6]:
df_pyspark.show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Jeya| 43| 10| 30000|
| Kumar| 44|  8| 25000|
|  Raja| 21|  3| 10000|
|Kannan| 33|  4| 15000|
|  John| 56|  1| 22000|
| peter| 32|  2| 29000|
|kamesh| 33|  2| 22200|
+------+---+---+------+

# Filter Operations

In [7]:
# Salary of the people less then or equal to 20000

df_pyspark.filter("Salary<=20000").show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Raja| 21|  3| 10000|
|Kannan| 33|  4| 15000|
+------+---+---+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|  Raja| 21|
|Kannan| 33|
+------+---+

In [9]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Raja| 21|  3| 10000|
|Kannan| 33|  4| 15000|
+------+---+---+------+

In [12]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|Kannan| 33|  4| 15000|
+------+---+---+------+

In [14]:
# Not equal to ~
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Jeya| 43| 10| 30000|
| Kumar| 44|  8| 25000|
|  John| 56|  1| 22000|
| peter| 32|  2| 29000|
|kamesh| 33|  2| 22200|
+------+---+---+------+