# Pyspark Handling Missing values

- Dropping Columns
- Dropping Rows
- Various Parameter In Dropping funtionalities
- Handling Missing values by Mean, Median, Mode

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [17]:
df_pyspark = spark.read.csv(r"C:\Users\JEYA KUMAR R\Downloads\DataSet\Book1.csv", header = True, inferSchema = True)

In [18]:
df_pyspark.show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Jeya|  43|  10| 30000|
| Kumar|  44|   8| 25000|
|  Raja|  21|   3| 10000|
|Kannan|  33|   4| 15000|
|  John|  56|   1| 22000|
| peter|  32|   2| 29000|
|kamesh|null|null| 22200|
|  null|  34|  10| 40000|
|  null|  36|null|  null|
+------+----+----+------+

In [8]:
# Drop the columns

df_pyspark.drop('Name').show()

+----+----+------+
| Age| Exp|Salary|
+----+----+------+
|  43|  10| 30000|
|  44|   8| 25000|
|  21|   3| 10000|
|  33|   4| 15000|
|  56|   1| 22000|
|  32|   2| 29000|
|null|null| 22200|
|  34|  10| 40000|
|  36|null|  null|
+----+----+------+

In [9]:
df_pyspark.show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Jeya|  43|  10| 30000|
| Kumar|  44|   8| 25000|
|  Raja|  21|   3| 10000|
|Kannan|  33|   4| 15000|
|  John|  56|   1| 22000|
| peter|  32|   2| 29000|
|kamesh|null|null| 22200|
|  null|  34|  10| 40000|
|  null|  36|null|  null|
+------+----+----+------+

In [10]:
df_pyspark.na.drop().show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Jeya| 43| 10| 30000|
| Kumar| 44|  8| 25000|
|  Raja| 21|  3| 10000|
|Kannan| 33|  4| 15000|
|  John| 56|  1| 22000|
| peter| 32|  2| 29000|
+------+---+---+------+

In [12]:
# any == how
# all option will drop the row if all values is null 
# default it will be any

df_pyspark.na.drop(how = "all").show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Jeya|  43|  10| 30000|
| Kumar|  44|   8| 25000|
|  Raja|  21|   3| 10000|
|Kannan|  33|   4| 15000|
|  John|  56|   1| 22000|
| peter|  32|   2| 29000|
|kamesh|null|null| 22200|
|  null|  34|  10| 40000|
|  null|  36|null|  null|
+------+----+----+------+

In [14]:
# threshold
# thresh = 2 which means atleast two non-null values should be in row
df_pyspark.na.drop(how = "any", thresh=2).show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Jeya|  43|  10| 30000|
| Kumar|  44|   8| 25000|
|  Raja|  21|   3| 10000|
|Kannan|  33|   4| 15000|
|  John|  56|   1| 22000|
| peter|  32|   2| 29000|
|kamesh|null|null| 22200|
|  null|  34|  10| 40000|
+------+----+----+------+

In [15]:
# Subset
# subset = ['Exp'] which means null values will be dropped in Exp column only
df_pyspark.na.drop(how = "any", subset = ['Exp']).show()

+------+---+---+------+
|  Name|Age|Exp|Salary|
+------+---+---+------+
|  Jeya| 43| 10| 30000|
| Kumar| 44|  8| 25000|
|  Raja| 21|  3| 10000|
|Kannan| 33|  4| 15000|
|  John| 56|  1| 22000|
| peter| 32|  2| 29000|
|  null| 34| 10| 40000|
+------+---+---+------+

In [24]:
# filling the Missing values

df_pyspark.na.fill('Missing', 'Name').show()

+-------+----+----+------+
|   Name| Age| Exp|Salary|
+-------+----+----+------+
|   Jeya|  43|  10| 30000|
|  Kumar|  44|   8| 25000|
|   Raja|  21|   3| 10000|
| Kannan|  33|   4| 15000|
|   John|  56|   1| 22000|
|  peter|  32|   2| 29000|
| kamesh|null|null| 22200|
|Missing|  34|  10| 40000|
|Missing|  36|null|  null|
+-------+----+----+------+

In [25]:
df_pyspark.show()

+------+----+----+------+
|  Name| Age| Exp|Salary|
+------+----+----+------+
|  Jeya|  43|  10| 30000|
| Kumar|  44|   8| 25000|
|  Raja|  21|   3| 10000|
|Kannan|  33|   4| 15000|
|  John|  56|   1| 22000|
| peter|  32|   2| 29000|
|kamesh|null|null| 22200|
|  null|  34|  10| 40000|
|  null|  36|null|  null|
+------+----+----+------+

In [26]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Exp', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Exp', 'Salary']]
    ).setStrategy("mean")

In [27]:
# Add imputation cols to df

imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| Age| Exp|Salary|Age_imputed|Exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|  Jeya|  43|  10| 30000|         43|         10|         30000|
| Kumar|  44|   8| 25000|         44|          8|         25000|
|  Raja|  21|   3| 10000|         21|          3|         10000|
|Kannan|  33|   4| 15000|         33|          4|         15000|
|  John|  56|   1| 22000|         56|          1|         22000|
| peter|  32|   2| 29000|         32|          2|         29000|
|kamesh|null|null| 22200|         37|          5|         22200|
|  null|  34|  10| 40000|         34|         10|         40000|
|  null|  36|null|  null|         36|          5|         24150|
+------+----+----+------+-----------+-----------+--------------+

In [28]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Exp', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Exp', 'Salary']]
    ).setStrategy("median")

In [29]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| Age| Exp|Salary|Age_imputed|Exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|  Jeya|  43|  10| 30000|         43|         10|         30000|
| Kumar|  44|   8| 25000|         44|          8|         25000|
|  Raja|  21|   3| 10000|         21|          3|         10000|
|Kannan|  33|   4| 15000|         33|          4|         15000|
|  John|  56|   1| 22000|         56|          1|         22000|
| peter|  32|   2| 29000|         32|          2|         29000|
|kamesh|null|null| 22200|         34|          4|         22200|
|  null|  34|  10| 40000|         34|         10|         40000|
|  null|  36|null|  null|         36|          4|         22200|
+------+----+----+------+-----------+-----------+--------------+

In [30]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Exp', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Exp', 'Salary']]
    ).setStrategy("mode")

In [31]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----+------+-----------+-----------+--------------+
|  Name| Age| Exp|Salary|Age_imputed|Exp_imputed|Salary_imputed|
+------+----+----+------+-----------+-----------+--------------+
|  Jeya|  43|  10| 30000|         43|         10|         30000|
| Kumar|  44|   8| 25000|         44|          8|         25000|
|  Raja|  21|   3| 10000|         21|          3|         10000|
|Kannan|  33|   4| 15000|         33|          4|         15000|
|  John|  56|   1| 22000|         56|          1|         22000|
| peter|  32|   2| 29000|         32|          2|         29000|
|kamesh|null|null| 22200|         21|         10|         22200|
|  null|  34|  10| 40000|         34|         10|         40000|
|  null|  36|null|  null|         36|         10|         10000|
+------+----+----+------+-----------+-----------+--------------+